.slider{
    position: relative;
  
    width: 100ww;
    overflow-x: hidden;
    
.slider-images{
 transition: all 0.5s ease-in;
}
.slider-buttons-container{
    position:absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    bottom: 100px;
    display: flex;
    gap: 20px;
    
    .icon{
        width: 50px;
        height: 50px;
        border: 1px solid #999;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
            background-color: white;
            opacity: 60%;
        }
        }

}
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
